.Menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 100px;
    left: 0;
    background-color: black;
    transform: translateX(-100%);
    transition: all 0.3s;
}
.Menu__active {
    transform: translateX(0);
    transition: all 0.3s;
}
.Menu__mainNav li {
    text-decoration: none;
    list-style: none;
}
.Menu__mainNav {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Menu__navLink-active {
    color: #0e65f3;
}